@font-palette-values --phase4-palette {
  font-family: Phase4Font;
  base-palette: 1;
  override-colors: 0 red, 1 blue;
}

.phase4-values {
  width: calc-size(auto, size + 1rem);
  height: round(up, 12.5px, 1px);
  margin-left: mod(17px, 5px);
  padding-top: env(safe-area-inset-top, 0px);
  color: light-dark(black, white);
  transition-timing-function: linear(0, 0.25 50%, 1);
}

.phase4-fonts {
  font-family: Phase4Font, serif;
  font-size-adjust: ex-height 0.5;
  font-palette: --phase4-palette;
  font-variant-emoji: emoji;
  font-synthesis-position: none;
}
